.App {
  background-color: #9b9d9d;
  color: #5f5e5d;
}

.App a {
  text-decoration: none;
  color: #f53d01;
}

.App a:hover {
  text-decoration: underline;
  color: #f53d01;
}

.App .btn {
  color: #d8dee2;
  background-color: #5f5e5d;
}

.App .btn:hover {
  background-color: #d8dee2;
  color: #5f5e5d;
  border: solid 1px #5f5e5d;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .left-content {
  width: 30%;
  height: 600px;
}

.App .right-content {
  width: 50%;
  min-height: 400px;
  background-color: #d8dee2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-left: -100px;
  border-radius: 10px;
}

.App footer {
  padding-bottom: 20px;
}
