.Weather {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.Weather .info-style {
  font-size: 18px;
}

.Weather .temp-style {
  font-size: 64px;
}

.Weather canvas {
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.Weather .unit {
  font-size: 18px;
  position: relative;
  top: -30px;
}
